// 카드의 스타일입니다.
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css)    
@import "variables" 

.header
    font: 500 24px "Spoqa Han Sans Neo", "sans-serif"
    margin: 40px 0px 0px 40px
    
.container
    display: flex
    flex-wrap: no-wrap
    overflow-x: auto
    -webkit-overflow-scrolling: touch
    margin-top: 20px
    justify-content: space-around

.card
    width: 175px
    .imgbox
        position: relative
        img
            transition: 0.5s
            position: absolute
        img:hover
            margin-top: 5px
            opacity: 0.3      
              
.star
    height: 30px
    top: 10px
    left: 80%


.card h3
    font-family: 'Spoqa Han Sans Neo', Noto sans
    font-weight: 300
    line-height: 30px
    font-size: 0.85em
    margin-top: 125px

@include mobile
    div .header
        font-size: 23px
        margin: 10px 0px 0px 10px
    .container
    
    .card:nth-child(n+4)
        display: none
    .card
        width: 100px
        img
            width: 105px
        h3
            margin-top: 75px !important
            font-size: 15px
            line-height: 16px
        
