// 카드의 스타일입니다.
@import "variables" 

.popular
    font-family: Noto sans;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    margin: 40px 0px 0px 40px;

.container
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-evenly;
    margin-top: 20px;

.card
    width: 175px

.card .imgbox
    position: relative

.card .imgbox img
    border-radius: 20px
    position: absolute

.card .imgbox img:hover
    height: 120px;
    filter: blur(5px);

.copylink
    height: 20px;
    top: 5px;
    left: 53%;


.card span, .card h3
    font-family: Noto sans;
    font-style: normal;
    font-weight: 100;
    line-height: 30px;

.card h3
    
    font-size: 1em;
    margin-top: 125px !important;

.card span
    display: inline-block;
    border: 1px solid rgb(239, 239, 239);
    background-color: rgb(239, 239, 239);
    border-radius: 5px
    font-size: 0.8em;
    margin-right: 0.5em;
    padding: 0.2em;

@include mobile
    .card
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    .card img 
        width: 20vh
        height: 20vh