// card style
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css)
@import "variables"

.header
    font: 500 22px "Spoqa Han Sans Neo", "sans-serif"
    margin: 40px 0px 0px 40px

.slider-item
    width: 100%
    margin: 20px 0px 0px 40px
    // display: flex
    // flex-wrap: no-wrap
    // overflow-x: auto
    -webkit-overflow-scrolling: touch
    // justify-content: space-around

.container

.card
    display: flex
    flex-direction: column
    width: 160px
    padding: .5rem
    border-radius: 15px
    transition: background-color 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0s
    will-change: background-color
    &:hover
        background-color: var(--color-hover)
    h3
        font-family: 'NanumBarunGothic'
        width: 160px
        font-weight: 500
        font-size: 17px
        margin-top: 10px
    .imgbox
        position: relative
        img
            width: 160px
            height: 100px
            border-radius: 15px
            box-shadow: var(--box-shadow)
        .recent-img-text-one
            left: 7%
            top: 15%
            z-index: 1
            position: absolute
        .recent-img-text-two
            @extend .recent-img-text-one
            top: 40%

.recent-img-text-one > p, .recent-img-text-two > p
    font-family: 'Noto Sans'
    color: white
    font-size: 20px
    font-weight: 700
    text-align: left

@include mobile
    .container
        display: none

    section > .header
        display: none

    .slick-slider.slick-initialized 
        display: none 

@include tablet
    .card:nth-child(n+5)
        display: none

@include smallTablet
    .card:nth-child(n+4)
        display: none
