// header의 스타일입니다
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

@import "variables" 
*    
    color: $white

@font-face 
    src: url("../assets/font/NanumSquareR.ttf") format("truetype")
    font-family: 'Noto Sans', sans-serif;

header
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #1C1C1e
    display: flex
    flex-wrap: wrap
    justify-content: center
    justify-content: space-between;
    width: 100%;
    flex-direction: row
    align-items: center
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0px 20px


.head.box 
    display: flex
    align-items: center
    .logo
        width: 65px
        height: 50px
        background-size: cover;
    span
        margin-top: 4px;
        font-family: Noto Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        margin-left: 0.3em;
        letter-spacing: 2px;

.head.content 
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 30px;
    margin-right: 60px;
    span
        font-family: 'Spoqa Han Sans Neo', Noto Sans;
        font-size: 17px;
        padding: 10px;
        border-radius: 20px;
        transition: background-color 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
        will-change: background-color;
    span:hover
        background-color: rgb(75, 75, 77);
    .mod
        position: relative;
        background-image: url(https://user-images.githubusercontent.com/45661217/146483843-3e796322-47aa-4fba-833d-7401512a805c.png);
        width: 81px;
        height: 41px;
        align-items: center;
        margin-left: 10px;
        .circle      
            position: absolute;  
            background-image: url(https://user-images.githubusercontent.com/45661217/146485076-5d9e6a3a-dc25-433c-bc28-f077c483ad6d.png)
            width: 34px;
            height: 34px;
            transform: translateY(-50%);
            top: 50%;
            left: 0.2em;
    .darkmode_text
        display: none;

.head.index
    display: flex;
    align-items: center;
    gap: 20px;

input
    margin-left: 20px;
    width: 250px;
    height: 25px;
    border-image: none;
    border-style: none;
    background-color: #636366;

input:focus 
    outline: none;

input::placeholder 
  color: #C7C7CC;
  font-size: 17px;

.search.warp
    margin-top: 10px;
    font: 400 16px Noto sans, "sans-serif"
    padding: 10px 16px
    background-color: rgb(99, 99, 102)
    width: 300px
    height: 25px
    background-color: #636366
    border-radius: 30px
    border-color: #636366 !important
    background-image: url(https://user-images.githubusercontent.com/45661217/145702560-4a375749-e726-49ff-b6e1-f1bd1279a402.png)
    background-repeat: no-repeat
    background-position: 10px center

.filter.wrap
    display: flex
    gap: 5px
    align-items: flex-end;
    .filter.img 
        background-image: url(https://user-images.githubusercontent.com/45661217/146483442-8f503f17-2e3c-46e8-801a-02a7810c20e7.png)
        width: 26px
        height: 20px
        background-size: cover;
    .filter.text
        margin-top: 10px
        font-family: 'Spoqa Han Sans Neo', Noto Sans
        font-size: 17px;

@include mobile
    body
        margin: 0px
    header
        margin: 0px
        flex-direction: column;
    .head
        margin: 10px;
    .head.box 
        .logo
            width: 45px
            height: 35px
        span
            font-size: 20px;
            margin-left: 0.3em;
            letter-spacing: 1px;

    .filter.wrap
        display: none
    // .search.warp 
    //     margin-top: 0px
    //     padding: 5px 8px;
    //     width: 230px;
    //     height: 25px;
    // input
    //     width: 200px;
    .search.warp
        display: none
    input
        display: none

    .head.content 
        margin-top: 0px
        gap: 0px;
        .darkmode_text
            display: inline;
            margin-top: 4.3px;
        .mod
            display: none;
            
