// header style
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap')
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css)

@import "variables"

*
    color: var(--color-font-default)

@font-face
    src: url("../../static/font/NanumSquareR.ttf") format("truetype")
    font-family: 'Noto Sans', sans-serif

@mixin header
    top: 0
    z-index: 1
    background-color: var(--color-default)
    display: flex
    flex-wrap: wrap
    padding: 10px 20px
    width: 100%
    justify-content: center
    justify-content: space-between

.notfixed
    @include header
    position: absolute
    margin-top: 12px

.original
    @include header
    position: fixed
    transform: translateY(12px)
    transition: transform 0.25s ease-out 0s, background-color 0.25s ease-out 0s

.change
    @include header
    position: fixed
    transition: transform 0.25s ease-out 0s, background-color 0.25s ease-out 0s
    transform: translateY(0px)
    border-bottom: 1px solid var(--color-border)

.head.box
    display: flex
    align-items: center
    .logo
        background-size: cover
        margin-bottom: 4px
        display: var(--logo-display)
        width: 45px
        height: 35px
    span
        font-family: Noto Sans
        font-weight: bold
        font-size: 23px
        margin-left: 0.3em
        letter-spacing: 2px

%circle
    background-image: url(https://user-images.githubusercontent.com/45661217/146485076-5d9e6a3a-dc25-433c-bc28-f077c483ad6d.png)
    background-size: contain
    background-repeat: no-repeat
    width: 30px
    height: 30px

.head.content
    display: flex
    align-items: center
    gap: 30px
    margin-right: 60px
    span
        display: flex
        aligin-items: center
        font-family: 'Spoqa Han Sans Neo', Noto Sans
        font-size: 16px
        padding: 7px 10px
        margin: 5px
        border-radius: 20px
        transition: background-color 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0s
        will-change: background-color
    span:hover
        background-color: var(--color-hover)
    .mod-white
        cursor: pointer
        display: flex
        align-items: center
        width: 60px
        height: 30px
        background-image: url(https://user-images.githubusercontent.com/45661217/146483843-3e796322-47aa-4fba-833d-7401512a805c.png)
        background-size: contain
        background-repeat: no-repeat
        .circle
            @extend %circle
            transform: translateX(-5%)
            transition: transform 0.5s ease 0s
    .mod-dark
        @extend .mod-white
        .circle
            transform: translateX(100%)
            @extend %circle

.head.content > :nth-child(1) 
    display: none

.head.index
    display: flex
    align-items: center
    gap: 20px

.search-input
    position: absolute
    font-size: 15px
    top: 50%
    transform: translate(0%, -50%)
    left: 40px
    width: 250px
    height: 20px
    border-image: none
    border-style: none
    background-color: var(--color-tag)

.search-input:focus
    outline: none

.search-input::placeholder
    color: var(--color-placeholder)
    font-size: 15px
    transform: translate(0%, 10%)

.search.warp
    position: relative
    font: 400 16px Noto sans, "sans-serif"
    padding: 10px 16px
    width: 270px
    height: 15px
    border: 1px solid var(--color-border)
    background-color: var(--color-tag)
    border-radius: 30px
    background-image: url(https://user-images.githubusercontent.com/45661217/145702560-4a375749-e726-49ff-b6e1-f1bd1279a402.png)
    background-repeat: no-repeat
    background-position: 10px center

@mixin Tag
    display: inline-block
    border-radius: 20px
    height: 25px
    font-family: 'Spoqa Han Sans Neo'
    font-weight: 300
    font-style: normal
    font-size: 15px

.searchBox
    position: absolute
    top: 36px
    width: 285px
    background-color: var(--color-default)
    border: 1.5px solid var(--color-border)
    opacity: 80%
    border-radius: 20px
    z-index: 2
    .search_post
        border-radius: 20px
        display: flex
        flex-direction: column
        justify-content: space-between
        a
            @include Tag
            height: 1.7em
            padding: 3px 10px 0px 10px
            transition: background-color 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0s
            will-change: background-color
            &:hover
                background-color: var(--color-hover)
            span
                @include Tag

.search_post > span
    @include Tag
    margin-left: 10px
    padding: 3px 10px 0px 10px
    font-family: 'Spoqa Han Sans Neo'

@keyframes fadeInDown
    0%
        opacity: 0
        transform: translate3d(0, -10%, 0)
    to
        opacity: 1
        transform: translateZ(0)

.filter.wrap
    display: flex
    gap: 10px
    align-items: center
    .filter.img
        background-image: url(https://user-images.githubusercontent.com/45661217/146483442-8f503f17-2e3c-46e8-801a-02a7810c20e7.png)
        background-size: contain
        background-repeat: no-repeat
        filter: var(--filter)
        width: 20px
        height: 15px
        background-size: cover
        transition: transform 0.5s ease 0s
    .filter.img.click
        transform: rotate(90deg)
    .filter.text
        font-family: 'Spoqa Han Sans Neo', Noto Sans
        font-size: 16px
    .filterBox
        animation: fadeInDown .5s
        position: absolute
        top: 50px
        width: 340px
        height: 170px
        background-color: var(--color-default)
        border: 1.5px solid var(--color-border)
        border-radius: 20px
        z-index: 2
        display: flex
        .left
            width: 50%
            display: flex
            flex-wrap: wrap
            align-content: flex-start
        .right
            @extend .left
            border-left: 1.5px solid var(--color-border)
        .filterBox-title
            margin-top: 0.5em
            display: block
            width: 100%
            font-family: 'Spoqa Han Sans Neo'
            font-style: normal
            font-size: 13px
            margin-left: 8%
        .tagBox
            margin-top: 0.5em
            display: flex
            flex-wrap: wrap
            margin-left: 8%
            gap: .4em
        .tagBox > span
            height: 1.5em
            padding: 0.1em 0.5em
            font-size: 0.55em
            background: var(--color-background-tag)
            color: var(--color-tag-color)
            border-radius: 30px
            cursor: pointer

@include mobile
    .original
        padding: .5rem
        padding-left: 1rem

    .change
        padding: .5em
        padding-left: 1rem

    body
        margin: 0px
    header
        margin: 0px
        flex-direction: column

    .head.index
        flex-wrap: wrap

    .head.box
        .logo
            width: 30px
            height: 24px
        span
            font-size: 14px
            margin-left: 0.3em
            letter-spacing: 1px

    .search.warp
        display: none

    .filter.text
        font-size: 12px

    .head.content
        margin-top: 0px
        gap: 0px
        .darkmode_text
            display: inline
            margin-top: 4.3px
        .mod
            display: none

    div.header
        font: 500 15px "Spoqa Han Sans Neo", "sans-serif"
        margin: 0px 0px 0px 20px

    .filter.wrap
        display: none

    .head.content
        display: none

@include tablet
    .head.content
        display: none

@include smallTablet
    .head.content
        display: none
