// 전체 스타일입니다
@import "variables"

@font-face 
  src: url("../assets/font/NanumSquareR.ttf") format("truetype")

body
  margin-top: 120px
  background-color: $default

*
  font-size: 1.125rem
  text-decoration-line: none

.hide
  height: 0px
  width: 0px

// animation
.fade_in 
    animation: fadein 2s ease 0s 1 normal both running

@keyframes fadein 
    from
        transform: scale(0.9)
        opacity: 0 
    to
        transform: scale(1)
        opacity: 1




    
    

