// 전체 스타일입니다
@import "variables"

@font-face 
  src: url("../assets/font/NanumSquareR.ttf") format("truetype")

body
  background-color: #1C1C1e

*
  font-size: 1.125rem
  text-decoration-line: none;

main .hide
  visibility: hidden;



    
    

