    
u 
    font-size: 1.5rem;
    border-bottom: 0.05em solid;
    word-wrap: break-word;
    color: #fffffff;

h3#gray 
    color: rgba(255,255,255,0.6);


.intro
    display: flex;

.intro_test
    diaplay: flex;
    flex-direction: column;

.section_union
    display: flex;
    justify-content: space-between;

.section
    background-color: #30363d; 
    width: 40%;
    height: 20vh;

h4.under
    border-bottom: 0.05em solid;

.over
    white-space: nowrap;
    overflow-x: auto; 
    text-align: center;
    scrollbar-width: none; //스크롤바 숨기기(FF)
    width: 100%;

.skill
    display: flex;  
    justify-content: space-between;
    min-width: 100%;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    gap: 20px;


.skill > .card 
    flex: 0 0 20%;
    width: 100px;
    background-color: #30363d
    height: 50vh;
    overflow: auto hidden; 

.side
    display: flex;
    flex-direction: column;

.side > .card
    width: 100%;
    height: 10vh
    background-color: #30363d

.prize
    display: flex;
    flex-direction: column
    gap: 1vh;

.prize > .card
    width: 100%
    height: 5vh;
    background-color: #30363d
    
.moveto
    position: fixed
    background-color: #1C1C1e
    opacity: 90%;
    border-radius: 20px;
    border: 1.5px solid #636366;
    left: 40px;
    width: 200px;
    height: 150px;

.moveto > div
    font-size: 0.8em;


