@import "variables"
    
u
    font-size: 1.5rem
    border-bottom: 0.05em solid
    word-wrap: break-word
    color: #ffffff

h2 > u
    font-size: 2rem

h2#hi
    font-size: 2rem
    margin: 5rem 0px 8px 0px
    font-family: 'Spoqa Han Sans Neo'
    font-weight: 700
    max-width: 100%
    width: 100%
    white-space: pre-wrap
    word-break: break-word
    padding: 3px 2px
    margin-bottom: 80px

h3#gray
    color: rgba(255,255,255,0.6)
    font-family: 'Spoqa Han Sans Neo'

h3#gray:nth-child(1)
    margin-top: 20px

h3#gray:nth-child(3)
    margin-top: 0px

.about > img
    margin: 35px 30px 20px 0px
    width: 270px
    height: 270px
    border-radius: 1000px

.about
    display: flex
    gap: 10rem
    height: 100vh
    align-items: center
    justify-content: space-between

.project
    height: 100vh
    margin-left: 5rem
    display: flex

.experience
    height: 100vh
    display: flex
    flex-direction: column
    margin-left: 5rem
    width: 80%
    a
        color: var(--color-a)
        font-size: 16px
        cursor: pointer
    a:hover
        text-decoration: underline var(--color-a)

.experience--content
    margin-top: 5rem

.project--content
    margin-top: 5rem
    overflow-x: auto

.project--list
    overflow-x: auto
    display: grid
    grid-template-columns: repeat(12, 280px)
    grid-template-rows: repeat(2, 280px)
    grid-auto-flow: column

.project--list::-webkit-scrollbar
    display: none

.project--list-card:nth-of-type(2n)
    margin-left: 50%

.project--list-card:nth-child(6n+1)
    background-color: var(--color-project1)

.project--list-card:nth-child(6n+2)
    background-color: var(--color-project2)

.project--list-card:nth-child(6n+3)
    background-color: var(--color-project3)

.project--list-card:nth-child(6n+4)
    background-color: var(--color-project4)

.project--list-card:nth-child(6n+5)
    background-color: var(--color-project5)

.project--list-card:nth-child(6n+6)
    background-color: var(--color-project6)

.project--list-card
    color: $white
    width: 50%
    grid-column-end: span 2
    position: relative
    display: flex
    justify-content: center
    flex-direction: column
    box-shadow: var(--project-box-shadow)
    cursor: pointer

.project--list-card:hover
    animation: opacity 1s cubic-bezier(0.215, 0.610, 0.355, 1.000)

@keyframes opacity
    from
        opacity: 1
    to
        opacity: 0.65

.project--list-card--stack
    color: $white
    position: absolute
    right: .5rem
    top: .5rem
    font-weight: 100

.project--list-card--name
    color: $white
    font-weight: 100
    font-size: 2.5rem
    margin-left: .5rem

.project--list-card--month
    color: $white
    font-weight: 100

.project--list-card--year
    color: $white
    font-weight: 100

.project--list-card--logo
    position: absolute
    margin: .5rem
    right: 0
    bottom: 0
    display: flex
    font-weight: 100    

.project--list-card--date
    position: absolute
    display: flex
    flex-direction: column
    margin: .5rem
    bottom: 0

.skills--content
    white-space: nowrap
    overflow-x: auto
    width: 100%

.skills--content::-webkit-scrollbar
    width: 6px
    height: 5px

.skills--content::-webkit-scrollbar-thumb
    height: 30
    background: $default
    border-radius: 2rem

.skills--content::-webkit-scrollbar-track
    background: #808080

@mixin skill-tag
    font-size: 15px
    border-radius: 5px
    padding: 1px 5px 1px 5px

.skill-tag-red
    @include skill-tag
    background-color: var(--color-skill-tag-red)
    color: var(--color-skill-tag-color-red)

.skill-tag-yellow 
    @include skill-tag
    background-color: var(--color-skill-tag-yellow)
    color: var(--color-skill-tag-color-yellow)

.skill-tag-orange
    @include skill-tag
    background-color: var(--color-skill-tag-orange)
    color: var(--color-skill-tag-color-orange)

.skill-tag-green
    @include skill-tag
    background-color: var(--color-skill-tag-green)
    color: var(--color-skill-tag-color-green)

.skill-tag-blue
    @include skill-tag
    background-color: var(--color-skill-tag-blue)
    color: var(--color-skill-tag-color-blue)

.skill--list
    margin-top: 1rem
    display: flex
    -webkit-overflow-scrolling: touch
    scroll-snap-type: x mandatory

.skill--list-card
    flex: 0 0 30%
    max-width: 300px
    padding: 0.5rem
    .skill--list-card--header
        display: flex
        gap: 20px
        margin-bottom: 20px
        .skill-count
            font-size: 16px
            color: #828383

.skill--list-card--value
    display: inline-block
    font-family: 'Spoqa Han Sans Neo'
    font-size: 14px
    line-height: 1.5
    height: 21px
    font-weight: 500
    background-color: var(--color-skill-value-tag)
    width: auto
    border-radius: 10px
    padding: 5px 10px 5px 10px
    margin-top: 10px

.ref
    position: fixed
    display: flex
    gap: 1rem
    right: 30px
    bottom: 10px
    z-index: 1

.portfolio
    animation: fadeup 2s ease 0s 1 normal both running 
    height: 500vh

.layout-center 
    width: 80%
    margin: 0px auto 0px