// in the post
@import "variables"

@font-face 
 font-family: 'NanumBarunGothic'
 font-style: normal
 font-weight: 400
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot')
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype')

@font-face 
  font-family: "HackNF"
  font-display: fallback
  
  src: url("../assets/font/HackNF.ttf") format("truetype"), url("../assets/font/HackNF.woff") format("woff"), url("../assets/font/HackNF.eot?iefix") format("embedded-opentype")

  font-weight: 400
  font-style: normal

  
@keyframes fadeup
    from
        margin-top: 220px
        opacity: 0 
    to
        margin-top: none
        transform: scale(1)
        opacity: 1

body
    margin-left: 0

.middle
    animation: fadeup 2s ease 0s 1 normal both running 
    max-width: 800px
    width: 100%
    margin: 170px auto 80px
    a
        color: #96f2d7
        font-size: 16px
    a:hover
        text-decoration: underline #96f2d7

strong
    display: inline-block
    background-color: $gray4
    border-radius: 15px
    font-family: Noto sans
    font-weight: 300
    font-style: normal
    font-size: 12px
    height: 20px
    margin-left: 10px
    padding: 0px 8px 4px 8px

h1,h2,h3,h4,h5 
  font-family: 'NanumBarunGothic'

h1 
  font-size: 2.0rem
  margin: 3.5rem 0px 40px 0px
  font-weight: 550
  letter-spacing: .05rem
  
h2 
  font-size: 1.5rem
  margin: 3rem 0px 8px 0px
  font-weight: 500

h3 
  font-size: 1.2rem
  margin: 2.5rem 0px 6px 0px
  font-weight: 500

h4 
  font-size: 1.2rem
  margin: 2rem 0px
  font-weight: 500

h5 
  font-size: 0.8rem
  margin: 1.5rem 0px 2px 0px
  font-weight: 500

p 
  line-height: 1.5rem
  margin: 24px 0px

p,li 
  font-family: 'NanumBarunGothic'
  font-size: 16px
  font-weight: 500
  color: $gray1

blockquote 
  display: inline-block
  margin: 18px 0px 0px 0px
  padding: 4px 24px
  border-left: 5px solid $gray7

blockquote p 
  margin: 4px 0px
  color: $gray3

/* 스크롤바 설정*/
pre::-webkit-scrollbar
    width: 2px
    height: 10px

/* 스크롤바 막대 설정*/
pre::-webkit-scrollbar-thumb
    background-color: $gray5

/* 스크롤바 뒷 배경 설정*/
pre::-webkit-scrollbar-track
    background-color: $default

pre 
  box-sizing: border-box
  // padding: 12px 12px 12px 0px
  margin: 0.5em 0px
  border-radius: 5px
  overflow: auto

pre *
  font-size: 14px !important
  font-family: 'HackNF'
  line-height: 1.125rem

ol,
ul 
  margin: 0.5em 0px
  li 
    width: calc(100% - 28px)
    // margin: 1em 0px
    position: relative
    line-height: 1.5rem
del
  font-family: 'NanumBarunGothic'
  color: $gray1
  text-decoration: line-through
  font-size: 16px
code
  padding: 0.2em 0.5em
  margin: 5px
  font-size: 0.8em
  background: $gray6
  border-radius: 5px

@include mobile
  *
    font-size: 1rem
  h1 
    font-size: 1.6rem
    margin: 2rem 0px 6px 0px
  h2 
    font-size: 1.4rem
    margin: 1.7rem 0px 4px 0px
  h3 
    font-size: 1.2rem
    margin: 1.4rem 0px 2px 0px
  h4 
    font-size: 1.0rem
    margin: 1.1rem 0px
  h5 
    font-size: 0.8rem
    margin: 0.8rem 0px 1px 0px
  blockquote 
    border-left: 3.5px solid $gray5
  ol,
  ul 
    padding-left: 0.8em
    li 
      left: 0px
  pre
    padding: 0px
    font-size: 1rem 
  .middle
    margin: 0px

        
    

  
  
