// colors
$default: #1C1C1e
$white: #ffffff
$gray1: #C9D1D9
$gray2: #C7C7CC
$gray3: #8b949e
$gray4: #636366
$gray5: #4d535c
$gray6: #353942
$gray7: #30363d
$a: #58A6FF

// Breakpoints
$breakpoint-mobile: 0px
$breakpoint-smallTablet: 600px
$breakpoint-tablet: 800px
$breakpoint-desktop: 1200px


@mixin mobile 
  @media (min-width: $breakpoint-mobile) and (max-width: $breakpoint-smallTablet - 1px) 
    @content
  
@mixin smallTablet
  @media (min-width: #{$breakpoint-smallTablet}) and (max-width: $breakpoint-tablet - 1px) 
    @content

@mixin tablet 
  @media (min-width: #{$breakpoint-tablet}) and (max-width: $breakpoint-desktop - 1px) 
    @content
  

@mixin desktop 
  @media (min-width: #{$breakpoint-desktop}) 
    @content
  

