// common
$default: #1C1C1e
$white: #ffffff
$gray1: #C9D1D9
$gray2: #C7C7CC
$gray3: #8b949e
$gray4: #636366
$gray5: #4d535c
$gray6: #353942
$gray7: #30363d

// lightmode
$light-text: #212121
$light-hover: #f3f3f3
$light-placeholder: #747474
$light-border: #cccccc
$light-a: #0065fe
$light-tag: #f5f5f5
$light-tag-color: #616161
$light-p: #212121
$light-code: #f2f5f4
$light-code-p: #444444
$light-box-shadow: 0 2px 4px rgba(0,0,0,0.12), 0 2px 3px rgba(0,0,0,0.24)
$light-filter: brightness(0) saturate(100%)
$light-logo-display: none
$light-skill-tag-red: #FFE2DD
$light-skill-tag-color-red: #5c1715
$light-skill-tag-yellow: #fdecc8
$light-skill-tag-color-yellow: #4f2e15
$light-skill-tag-orange: #f9dec9
$light-skill-tag-color-orange: #5c1715
$light-skill-tag-green: #FFE2DD
$light-skill-tag-color-green: #5c1715
$light-skill-tag-blue: #d2e4ef
$light-skill-tag-color-blue: #193247

// darkmode
$dark-a: #96f2d7
$dark-hover: #4B4B4D
$dark-box-shadow: none
$dark-project-box-shadow: 5px 7px 4px black
$dark-filter: none
$dark-logo-display: inline
$dark-project1: #5C6699
$dark-project2: #D5B2D5
$dark-project3: #EF9ACC
$dark-project4: #FE59C1
$dark-project5: #9180F6
$dark-project6: #81AFFD
$dark-skill-tag-red: #69363f
$dark-skill-tag-color-red: #feaca5
$dark-skill-tag-yellow: #66543b
$dark-skill-tag-color-yellow: #fad5a1
$dark-skill-tag-orange: #664036
$dark-skill-tag-color-orange: #fdb695
$dark-skill-tag-green: #344f40
$dark-skill-tag-color-green: #b5d2ac
$dark-skill-tag-blue: #284d67
$dark-skill-tag-color-blue: #a3cbea
$dark-skill-value-tag: #2b2d33

// Breakpoints
$breakpoint-mobile: 0px
$breakpoint-smallTablet: 600px
$breakpoint-tablet: 800px
$breakpoint-desktop: 1200px

[theme="dark"] 
  --color-font-default: #{$white}
  --color-default: #{$default}
  --color-hover: #{$dark-hover}
  --color-tag: #{$gray4}
  --color-background-tag: #{$gray4}
  --color-placeholder: #{$gray2}
  --color-border: #{$gray4}
  --color-a: #{$dark-a}
  --color-tag-color: #{$white}
  --color-blockquote: #{$gray7}
  --color-blockquote-p: #{$gray3}
  --color-p: #{$gray1}
  --color-code: #{$gray6}
  --color-code-p: #{$white}
  --color-del: #{$gray1}
  --box-shadow: #{$dark-box-shadow}
  --project-box-shadow: #{$dark-project-box-shadow}
  --filter: #{$dark-filter}
  --logo-display: #{$dark-logo-display}
  --color-project1: #{$dark-project1}
  --color-project2: #{$dark-project2}
  --color-project3: #{$dark-project3}
  --color-project4: #{$dark-project4}
  --color-project5: #{$dark-project5}
  --color-project6: #{$dark-project6}
  --color-skill-tag-red: #{$dark-skill-tag-red}
  --color-skill-tag-color-red: #{$dark-skill-tag-color-red}
  --color-skill-tag-yellow: #{$dark-skill-tag-yellow}
  --color-skill-tag-color-yellow: #{$dark-skill-tag-color-yellow}
  --color-skill-tag-orange: #{$dark-skill-tag-orange}
  --color-skill-tag-color-orange: #{$dark-skill-tag-color-orange}
  --color-skill-tag-green: #{$dark-skill-tag-green}
  --color-skill-tag-color-green: #{$dark-skill-tag-color-green}
  --color-skill-tag-blue: #{$dark-skill-tag-blue}
  --color-skill-tag-color-blue: #{$dark-skill-tag-color-blue}
  --color-skill-value-tag: #{$dark-skill-value-tag}

[theme="light"]
  --color-font-default: #{$light-text}
  --color-default: #{$white}
  --color-hover: #{$light-hover}
  --color-tag: #{$white}
  --color-background-tag: #{$light-tag}
  --color-placeholder: #{$light-placeholder}
  --color-border: #{$light-border}
  --color-a: #{$light-a}
  --color-p: #{$light-p}
  --color-tag-color: #{$light-tag-color}
  --color-blockquote: #{$light-placeholder}
  --color-blockquote-p: #{$light-placeholder}
  --color-code: #{$light-code}
  --color-code-p: #{$light-code-p}
  --color-del: #{$light-p}
  --box-shadow: #{$light-box-shadow}
  --project-box-shadow: #{$light-box-shadow}
  --filter: #{$light-filter}
  --logo-display: #{$light-logo-display}
  /* TODO: 임시 다크 컬러 변경 */
  --color-project1: #{$dark-project1}
  --color-project2: #{$dark-project2}
  --color-project3: #{$dark-project3}
  --color-project4: #{$dark-project4}
  --color-project5: #{$dark-project5}
  --color-project6: #{$dark-project6}
  --color-skill-tag-red: #{$light-skill-tag-red}
  --color-skill-tag-color-red: #{$light-skill-tag-color-red}
  --color-skill-tag-yellow: #{$light-skill-tag-yellow}
  --color-skill-tag-color-yellow: #{$light-skill-tag-color-yellow}
  --color-skill-tag-orange: #{$light-skill-tag-orange}
  --color-skill-tag-color-orange: #{$light-skill-tag-color-orange}
  --color-skill-tag-green: #{$light-skill-tag-green}
  --color-skill-tag-color-green: #{$light-skill-tag-color-green}
  --color-skill-tag-blue: #{$light-skill-tag-blue}
  --color-skill-tag-color-blue: #{$light-skill-tag-color-blue}
  --color-skill-value-tag: #{$light-tag}


@mixin mobile 
  @media (min-width: $breakpoint-mobile) and (max-width: $breakpoint-smallTablet - 1px) 
    @content
  
@mixin smallTablet
  @media (min-width: #{$breakpoint-smallTablet}) and (max-width: $breakpoint-tablet - 1px) 
    @content

@mixin tablet 
  @media (min-width: #{$breakpoint-tablet}) and (max-width: $breakpoint-desktop - 1px) 
    @content
  

@mixin desktop 
  @media (min-width: #{$breakpoint-desktop}) 
    @content
  

