@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import "variables" 

@font-face 
    font-family: "NanumSquareR"
    src: url("../../assets/font/NanumSquareR.ttf") format("truetype")

*
    color: #000000
header
    margin: 100 auto
    display: flex
    flex-wrap: wrap;
    justify-content: center
    flex-direction: row
    align-items: center

.head
    margin: 0 150px
    
.head.box
    display: flex
    align-items: center
    font-family: 'Open Sans Condensed', sans-serif;
    
.head.box span
    // font-family: 'NanumSquareR';
    margin-left: 10px;
    font-size: 50px;
    color: #000000;

.head.content span
    font-family: 'NanumSquareR';
    margin-left: 10px;

@include mobile
    .head
        margin: 10px;
    
